<div class="col-3">
  <div
    class="
      mb-3
      form-container
      field-group
      form-control form-control-lg
      input-transparent
    "
  >
    <span class="fa fa-user" aria-hidden="true"></span>
    <input type="text" placeholder="Usuário" />
  </div>
</div>
<div class="col-3 title">
  <div
    class="
      mb-3
      form-container
      field-group
      form-control form-control-lg
      input-transparent
    "
  >
    <span class="fas fa-lock"></span>
    <input type="text" placeholder="Senha" />
  </div>
</div>

<div class="col-3 title">
  <button class="btn btn-danger">Logar</button>
  <!-- [disabled]="isLoading" (click)="login()" -->
</div>
