.listActions {
  display: flex;
  list-style: none;
  flex-direction: row;
  justify-content: center;
}
.column2 .column5 {
  width: 5%;
}

.column3 .column4 .column8 {
  width: 10%;
}
.column6 {
  width: 15%;
}

.column7 {
  width: 20%;
}

.column9 {
  width: 20%;
}
