<div class="row" style="padding: 0px 30px">
  <div class="card-default">
    <div class="card-header" style="border: 1px solid #6c757d;">
      <form>
        <div class="row">
          <div class="col-sm-2">
            <!-- text input -->
            <div class="form-group">
              <label>PRODUTO</label>
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="col-sm-2">
            <!-- select -->
            <div class="form-group">
              <label>GRUPO DE PRODUTO</label>
              <select class="form-select" aria-label="Default select" style="font-size: 0.9em;">
                <option selected>SELECIONE UM GRUPO</option>
                <option *ngFor="let grp of selectGrpPrd" [value]="grp.codgrupoprod" (click)="onChange(grp)">
                  {{grp.codgrupoprod}} - {{ grp.descrgrupoprod }}
                </option>
              </select>
            </div>
          </div>
          <div class="col-sm-3">
            <!-- text input -->
            <div class="form-group">
              <label>DESCRIÇÃO</label>
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="col-sm-3">
            <!-- text input -->
            <div class="form-group">
              <label>COMPLEMENTO</label>
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="col-sm-2">
            <!-- text input -->
            <div class="form-group text-center">
              <label>RELATÓRIOS</label>
              <div class="form-group">
                <button class="m-1 btn btn-outline-secondary" data-toggle="modal" data-target="#modal-default"
                  data-toggle="tooltip" data-placement="bottom" title="Estoque Pronta Entrega">
                  <i class="fa fa-box"></i>
                </button>
                <button class="m-1 btn btn-outline-secondary" data-toggle="modal" data-target="#modal-default"
                  data-toggle="tooltip" data-placement="bottom" title="Estoque Programado">
                  <i class="fa fa-clock"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <!-- /.card -->

    <table data-vertable="ver5" style="border: 1px solid #6c757d">
      <thead>
        <tr class="row100 head">
          <th class="column100 column{{ toNumber(i, 2, true) }}" [attr.data-column]="'column' + toNumber(i, 2, true)"
            *ngFor="let title of listTitle; let i = index">
            {{ getTitle(title) }}
          </th>
          <th class="column100  column{{ lastI }}" attr.data-column="column{{ lastI }}" style="width: 15%;">
            Açoes
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of listGrid">
          <td *ngFor="let title of listTitle" [ngSwitch]="getType(item[title])">
            <!-- {{ item[title] }} -->
            <span *ngSwitchCase="'boolean'"><input type="checkbox" [checked]="item[title]" /></span>
            <span *ngSwitchDefault>{{ item[title] }}</span>
          </td>
          <td class="listActions pt-1 pb-1">
            <button class="m-1 btn btn-outline-secondary" data-toggle="modal" data-target="#modal-default"
              style="width: 40px;" data-toggle="tooltip" data-placement="bottom" title="Informações">
              <i class="fa fa-info"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="row pt-2">
      <div class="col-lg-4 col-md-4 -col-sm-12">
        <b>
          Mostrando {{ paginate.currentPage }} a 10 de
          {{ paginate.total * paginate.pageSize }} páginas
        </b>
      </div>
      <div class="col-lg-8 col-md-8 -col-sm-12">
        <ul id="table_id_paginate" class="pagination d-flex justify-content-end"></ul>
      </div>
    </div>
  </div>
</div>
