<div class="container">
  <div class="row">
    <div class="pt-5 col-12">
      <div class="content">
        <div class="card h-100">
          <div class="card-header d-flex p-0">
            <!-- <h3 class="card-title p-3">Tabs</h3> -->
            <ul class="nav nav-pills mr-auto p-2">
              <li class="nav-item">
                <a class="nav-link active" href="#tab_1" data-toggle="tab"
                  >Geral</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#tab_2" data-toggle="tab">Pedido</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#tab_3" data-toggle="tab"
                  >Nota fiscal</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#tab_4" data-toggle="tab"
                  >Solicitação de devolução</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#tab_5" data-toggle="tab"
                  >Financeiro</a
                >
              </li>
            </ul>
            <div class="indicator"></div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <div class="tab-content h-100">
              <div class="tab-pane active h-100" id="tab_1">
                <app-Geral
                  [data]="data.parceiro"
                  *ngIf="selected == 0"
                ></app-Geral>
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane h-100" id="tab_2">
                <app-client-perfil *ngIf="selected == 1"></app-client-perfil>
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane h-100" id="tab_3">
                <app-nota-fiscal *ngIf="selected == 2"></app-nota-fiscal>
              </div>
              <div class="tab-pane h-100" id="tab_4">
                <app-solicitacao-devolucao
                  *ngIf="selected == 3"
                ></app-solicitacao-devolucao>
              </div>
              <div class="tab-pane h-100" id="tab_5">
                <app-financeiro *ngIf="selected == 4"></app-financeiro>
              </div>
              <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div>
          <!-- /.card-body -->
        </div>
      </div>
    </div>
  </div>
</div>
