<div class="container">
  <div class="content">
    <ul>
      <li>
        <strong>CÓDIGO</strong>
        <span>3734</span>
      </li>
      <li>
        <strong>RAZÃO SOCIAL</strong>
        <span>PEQUIM TEXTIL LTDA</span>
      </li>
      <li>
        <strong>CNPJ/CPF</strong>
        <span>09.344.716/0001-80</span>
      </li>
      <li>
        <strong>E-MAIL</strong>
        <span>pequim@pequimtextil.com.br</span>
      </li>
      <li>
        <strong>LIMITE DE CRÉDITO</strong>

        <span>200000,00</span>
      </li>
    </ul>
  </div>
</div>
