<div class="container">
  <div class="content">
    <ng-template [ngIf]="data">
      <ul>
        <li>
          <strong>CÓDIGO</strong>
          <span>{{ data.codparc }}</span>
        </li>

        <li>
          <strong>RAZÃO SOCIAL</strong>
          <span>{{ data.razaosocial }}</span>
        </li>
        <li>
          <strong>CNPJ/CPF</strong>
          <span>{{ cpfComputed() }}</span>
        </li>
        <li>
          <strong>E-MAIL</strong>
          <span>{{ data.email }}</span>
        </li>
        <li>
          <strong>LIMITE DE CRÉDITO</strong>

          <span>{{ priceComputed() }}</span>
        </li>
      </ul>
    </ng-template>
  </div>
</div>
