<div
  class="modal fade show"
  tabindex="-1"
  role="dialog"
  id="modal-report-estoque"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #343a40; color: white">
        <h5 class="modal-title">RELATÓRIO</h5>
        <button
          style="color: white"
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="submit" class="btn btn-primary">PRONTA ENTREGA</button>

        <button type="submit" class="btn btn-warning">PROGRAMADO</button>

        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          FECHAR
        </button>
      </div>
    </div>
  </div>
</div>
