<div class="h-100">
  <div class="body-content">
    <div class="row">
      <div class="head">
        <button class="btn btn-primary" (click)="openModal(false)">
          Criar novo Diretório
        </button>
      </div>
    </div>
    <div class="row pb-5">
      <div class="pt-4">
        <app-diretorio-grid
          [listGrid]="diretorios.data"
          [paginate]="paginate"
          [totalItems]="paginate.totalItems"
          (nextSelection)="onNextSelection($event)"
        ></app-diretorio-grid>
        <app-edit-diretorio-component
          [diretorio]="initialParam"
          *ngIf="isOpen"
          (onCloseModal)="openModal($event)"
        ></app-edit-diretorio-component>
      </div>
    </div>
  </div>
</div>
