.head_project {
  font-size: 1.5em;
  font-weight: bold;
  color: #fff;
  text-align: left;
  padding: 0.5em;
  background: #4598c4;
  height: auto;

  width: 100%;
}

.head_project h1 span {
  font-size: 16px;
  font-weight: normal;
}
