<table>
  <thead>
    <tr class="row100 head">
      <th data-column="column1" class="column100 column1">EMPRESA</th>
      <th data-column="column2" class="column100 column2">NOTA FISCAL</th>
      <th data-column="column3" class="column100 column3">DUPLICATA</th>
      <th data-column="column4" class="column100 column4">DT. EMISSÃO</th>
      <th data-column="column5" class="column100 column5">DT. VENCIMENTO</th>
      <th data-column="column6" class="column100 column6">VALOR</th>
    </tr>
  </thead>
  <tbody>
    <tr class="row100">
      <td data-column="column1" class="column100 column1">LITORAL COMERCIO</td>
      <td data-column="column2" class="column100 column2">198416</td>
      <td data-column="column3" class="column100 column3">198416\3</td>
      <td data-column="column4" class="column100 column4">14/09/2021</td>
      <td data-column="column5" class="column100 column5">13/12/2021</td>
      <td data-column="column6" class="column100 column6">1.674,56</td>
    </tr>
  </tbody>
</table>
