<div class="row">
  <div class="col-lg-3 col-6" *ngFor="let item of [0, 0, 0, 0]">
    <!-- small box -->
    <div class="small-box bg-info">
      <div class="inner">
        <h3>840</h3>

        <p>PROJETOS</p>
      </div>
      <div class="icon">
        <i class="ion ion-bag"></i>
      </div>
      <a href="#" class="small-box-footer" style="font-size: 8pt">
        <i class="fas fa-caret-up" style="font-size: 12px; color: green"></i>
        Lançados no Sistema SHINKA
      </a>
    </div>
  </div>
</div>
