<div class="wrapper">
  <!-- Navbar -->
  <app-NavBar *ngIf="!isLogin"></app-NavBar>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <app-MainSidebarContainer *ngIf="!isLogin"></app-MainSidebarContainer>
  <!-- Content Wrapper. Contains page content -->
  <div
    class="{{ isLogin ? '' : 'content-wrapper' }}"
    style="height: 100%"
    id="middleWrapper"
  >
    <!-- TODO SplashScreen -->
    <div
      class="preloader flex-column justify-content-center align-items-center"
      [style.height.%]="isLoading ? '100' : '0'"
    >
      <img
        class="animation__wobble"
        src="assets/image/litoral.png"
        alt="AdminLTELogo"
        width="150px;"
        [style.display]="isLoading ? '' : 'none'"
      />
    </div>

    <div class="pl-2">
      <router-outlet></router-outlet>
    </div>
  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
    <div class="p-3">
      <h5>Title</h5>
      <p>Sidebar content</p>
    </div>
  </aside>
  <!-- /.control-sidebar -->

  <!-- Main Footer -->
</div>
