<aside
  class="main-sidebar sidebar-dark-primary elevation-4"
  style="display: flex; flex-direction: column"
>
  <!-- Brand Logo -->
  <a href="index3.html" class="brand-link" style="flex: 1">
    <img
      src="assets/image/AdminLTELogo.png"
      alt="AdminLTE Logo"
      class="brand-image img-circle elevation-3"
      style="opacity: 0.8"
    />
    <span class="brand-text font-weight-light">Força de Vendas</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar" style="flex: 260">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <ng-template [ngIf]="user">
        <div class="image">
          <img
            src="assets/image/user2-160x160.jpg"
            class="img-circle elevation-2"
            alt="User Image"
          />
        </div>
        <div class="info">
          <a class="d-block">{{ user.nome }}</a>
        </div>
      </ng-template>
    </div>

    <!-- SidebarSearch Form -->
    <div class="form-inline">
      <div class="input-group" data-widget="sidebar-search">
        <input
          class="form-control form-control-sidebar"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <div class="input-group-append">
          <button class="btn btn-sidebar">
            <i class="fas fa-search fa-fw"></i>
          </button>
        </div>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2" style="position: relative">
      <div class="preload {{ checkLoadindState() }}">
        <div class="loadContainer">
          <i class="far fa-circle"></i>
        </div>
      </div>
      <ul
        class="nav nav-pills nav-sidebar flex-column"
        data-widget="treeview"
        role="menu"
        data-accordion="false"
      >
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        <li class="nav-item" *ngFor="let screen of screens">
          <a
            class="nav-link {{ checkRouteModule(screen.url) ? 'active' : '' }}"
            routerLinkActive="active"
          >
            <!-- routerLink="{{ screen.url != '' ? screen.url : '#' }}" -->
            <i class="{{ screen.iconClass }}"></i>
            <p>
              {{ screen.nome }}
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item" *ngFor="let subScreens of screen.relateds">
              <a
                routerLink="{{ subScreens.url }}"
                class="nav-link"
                routerLinkActive="active"
              >
                <i
                  class="{{ subScreens.iconClass }}"
                  style="margin-right: 12px"
                ></i>
                <p>{{ subScreens.nome }}</p>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
