<div class="login-color">
  <img class="form-login-img" src="/assets/image/GrupoLitoralGrande.png" alt="logo-litoral">
  <div class="col-3 title">
    <div
      class="
        mb-3
        form-container
        field-group
        form-control form-control-lg
        input-transparent
      "
    >
      <span class="fas fa-lock"></span>
      <input type="email" placeholder="E-mail" />
    </div>
    <button class="btn btn-danger">Redefinir senha</button>
  </div>
  <div class="form-check form-switch">
    <a (click)="back()">
      <i class="fas fa-home"></i>
      Voltar para a tela de login.</a>
  </div>
</div>
