<table>
  <thead>
    <tr class="row100 head">
      <th data-column="column1" class="column100 column1">PEDIDO</th>
      <th data-column="column2" class="column100 column2">EMPRESA</th>
      <th data-column="column3" class="column100 column3">COMPRADOR</th>
      <th data-column="column4" class="column100 column4">ESTOQUE</th>
      <th data-column="column5" class="column100 column5">FRETE</th>
      <th data-column="column6" class="column100 column6">REMESSA</th>
      <th data-column="column7" class="column100 column7">CLIENTE REMESSA</th>
      <th data-column="column8" class="column100 column8">
        CONDIÇÃO PAGAMENTO
      </th>
      <th data-column="column9" class="column100 column9">PILOTAGEM</th>
      <th data-column="column10" class="column100 column10">LD</th>

      <th data-column="column11" class="column100 column11">Dt.Envio</th>
    </tr>
  </thead>
  <tbody>
    <tr class="row100">
      <td data-column="column1" class="column100 column1">78249</td>
      <td data-column="column2" class="column100 column2">Litoral Têxtil</td>
      <td data-column="column3" class="column100 column3">Pronta Entrega</td>
      <td data-column="column4" class="column100 column4">CIF</td>
      <td data-column="column5" class="column100 column5">Não</td>
      <td data-column="column6" class="column100 column6">60 DIAS</td>
      <td data-column="column7" class="column100 column7">Não</td>
      <td data-column="column8" class="column100 column8">Não</td>
      <td data-column="column9" class="column100 column9"></td>
      <td data-column="column10" class="column100 column10">Não</td>
      <td data-column="column11" class="column100 column11">
        26/04/2021 16:00:52
      </td>
    </tr>
  </tbody>
</table>
