<div class="h-100">
  <div class="body-content">
    <div class="row">
      <div class="head">
        <button class="btn btn-primary" (click)="openModal(false)">
          CRIAR EMPRESA
        </button>
      </div>
    </div>
    <div class="row pb-5">
      <div class="pt-4">
        <app-empresa-grid
          [listGrid]="empresas.data"
          [paginate]="paginate"
          [totalItems]="paginate.totalItems"
          (nextSelection)="onNextSelection($event)"
        ></app-empresa-grid>
        <app-edit-empresa-component
          [empresa]="initialParam"
          *ngIf="isOpen"
          (onCloseModal)="openModal($event)"
        ></app-edit-empresa-component>
      </div>
    </div>
  </div>
</div>
