<table>
  <thead>
    <tr class="row100 head">
      <th data-column="column1" class="column100 column1">SOLICITAÇÃO</th>
      <th data-column="column2" class="column100 column2">EMPRESA</th>
      <th data-column="column3" class="column100 column3">NOTA FISCAL</th>
      <th data-column="column4" class="column100 column4">DT. NEGOCIAÇÃO</th>
      <th data-column="column5" class="column100 column5">TIPO</th>
      <th data-column="column6" class="column100 column6">DESCONTO</th>
      <th data-column="column7" class="column100 column7">% DESCONTO</th>
      <th data-column="column8" class="column100 column8">% COMISSÃO</th>
    </tr>
  </thead>
  <tbody>
    <tr class="row100">
      <td data-column="column1" class="column100 column1">2996</td>
      <td data-column="column2" class="column100 column2">LITORAL COMERCIO</td>
      <td data-column="column3" class="column100 column3">173194</td>
      <td data-column="column4" class="column100 column4">02/09/2020</td>
      <td data-column="column5" class="column100 column5">Parcial</td>
      <td data-column="column6" class="column100 column6">Sim</td>
      <td data-column="column7" class="column100 column7">23,34</td>
      <td data-column="column8" class="column100 column8">2,00</td>
    </tr>
  </tbody>
</table>
